
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://appseed.us/admin-dashboards/flask-dashboard-atlantis">
              Flask Dashboard Atlantis
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright ml-auto">
        &copy; <a href="https://www.themekita.com">ThemeKita</a> - Coded by AppSeed.
      </div>				
    </div>
  </footer>
